version: '2.3'

services:
    formula_perception:
        build:
            context: .
            dockerfile: Dockerfile.amd64
        runtime: nvidia
        volumes:
          - ./network_folder:/usr/network_files/
          - /tmp:/tmp
        network_mode: "host"
        privileged: true
        command: "lynx_perception --cid=219 --net_names_file=/usr/network_files/formula.names --net_cfg_file=/usr/network_files/formula.cfg --net_weights_file=/usr/network_files/formula_final.weights --verbose"

volumes:
    network_folder:
    # driver: local  # is already local by default
